@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Quicksand;
  src: url("assets/fonts/Quicksand.ttf") format("truetype-variations");
}

@font-face {
  font-family: Minecraft;
  src: url("assets/fonts/Minecraft.otf") format("opentype");
}

@font-face {
  font-family: Faithful;
  src: url("assets/fonts/Faithful.ttf") format("truetype-variations");
}

:root {
  font-family: Faithful, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
